* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-around;
}
header nav {
  background-color: none;
  display: flex;
  justify-content: space-around;
}

.navbar.navbar-expand-lg.bg-light {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
  color: black;
}

.bg-light {
  --bs-bg-opacity: 0;
}

.navbar {
  --bs-navbar-color: black;
  --bs-navbar-disabled-color: black;
}
.navbar container-fluid {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0, 1;
}

.navbar-collapse .navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  justify-content: center;
}

.gradientes {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
}

.ir_abajo {
  display: flex;
  justify-content: flex-end;
}

.ir_header {
  color: #0a0a0a;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Times New Roman";
  background-color: none;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}

/*MAIN*/
.tituloh1 {
  color: #9297A0;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: none;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes efecto {
  0% {
    color: #9297A0;
  }
  25% {
    color: #daab63;
  }
  50% {
    color: #daab63;
  }
  75% {
    color: #BF2527;
  }
}

@keyframes efecto {
  0% {
    color: #9297A0;
  }
  25% {
    color: #daab63;
  }
  50% {
    color: #daab63;
  }
  75% {
    color: #BF2527;
  }
}
/*FOOTER*/
.gradientes1 {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
}

footer {
  color: #f7e7e7;
  margin-top: 50px;
  list-style: none;
  text-decoration: none;
}

.logo_footer {
  width: 90px;
  height: 60px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  background-color: none;
  grid-area: logo;
}

.menu2 {
  list-style: none;
  justify-content: space-evenly;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15vw;
}
.menu__link2 {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  grid-area: menu;
  background-color: none;
}

.ir_footer {
  color: #0a0a0a;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Times New Roman";
  background-color: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  grid-area: arriba;
  width: 7vw;
  height: 7px;
  margin-top: 168px;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  background-color: none;
  margin-bottom: 20px;
  grid-area: copyright;
}

.grid {
  display: grid;
  grid-template-areas: "logo menu arriba " "logo menu arriba" "copyright copyright arriba";
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr 80% 100px;
}

.grid2 {
  display: grid;
  grid-template-areas: "logonav menu1 menu1" "logonav menu1 menu1" "abajo abajo abajo ";
  align-items: start;
  grid-template-rows: 50px 100px;
  grid-template-columns: 2fr 3fr 2fr;
}

.carousel-inner .carousel__alto {
  height: 550px;
}

.img-size, .img-bastidor, .img-horquilla, .img-eje {
  width: 200px;
  height: 150px;
  border: 10px solid rgb(240, 238, 238);
}

.card {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 400px;
  background-color: rgb(185, 73, 73);
}

.flex-card {
  display: flex;
  gap: 70px;
  justify-content: center;
}

/*HOME/INDEX*/
body {
  background-color: #f7e7e7;
  font-family: "Times New Roman";
}

main {
  background-color: #f7e7e7;
}

.sectionindex {
  width: 65vw;
  margin-top: 40px;
  margin-right: 20%;
  margin-left: 18%;
  display: flex;
  border: solid 3px rgb(158, 149, 149);
  justify-content: center;
  background-color: #BF2527;
}

article p {
  width: 22vw;
  height: 20vw;
  color: #121213;
  display: flex;
  text-align: justify;
  align-items: center;
  margin-top: 20px;
  margin-left: 70px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
article h2 {
  color: #edf1f5;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
article img {
  width: 25vw;
  height: 20vw;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
  border: solid 2px rgb(250, 249, 249);
}
article img:hover {
  transform: skew(3deg, 5deg);
}

.button_nav {
  justify-content: center;
  display: flex;
}

.aside _h2 {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 2rem;
}
.aside _img {
  margin-left: 10%;
  width: 80vw;
}

/*QUIENES SOMOS*/
.section_quienessomos {
  display: flex;
  border: transparent;
  margin-top: 70px;
  margin-bottom: 10px;
}

.article_quienessomos {
  display: flex;
}

.p_quienessomos {
  width: 40vw;
  height: 40vw;
  color: #8190A5;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 10px;
  margin-left: 70px;
  text-align: justify;
  font-family: Verdana;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_quienessomos {
  width: 30vw;
  height: 30vw;
  margin-top: 70px;
  margin-left: 100px;
  border: transparent;
  background-image: url(../assets/Negocio.jpg);
  background-size: cover;
}
.img_quienessomos:hover {
  background-image: url(../assets/Representantes.jpg);
}

.asideqs_h2 {
  width: 10vw;
  margin-top: 500px;
  font-size: 1rem;
  display: flex;
  margin-left: -7px;
}

/*MAQUINARIAS Y REPUESTOS*/
.titulo_pages {
  display: flex;
  color: #9297A0;
  font-size: 50px;
  justify-content: space-around;
  background-color: none;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section_myr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div_pages {
  display: flex;
  align-items: center;
  margin: 40px;
}

picture img {
  display: flex;
  width: 200px;
  height: 200px;
}

.article_myr {
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2_myr {
  font-size: 30px;
  margin-bottom: 40px;
  color: #424449;
}

.p_myr {
  width: 30vw;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
  text-align: justify;
}

/*COTIZACIONES*/
.form {
  display: flex;
  justify-content: center;
}

.formulario, .formulario_con, .formulario_cot {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.formulario_cot {
  background-image: linear-gradient(#3b3a3a, #9c9292);
}

.titulo_fcot {
  color: #fcfbfb;
  font-size: 30px;
  text-align: center;
  background-color: #979593;
}
.titulo2_fcot {
  color: #fcfbfb;
  font-size: 20px;
  margin-left: 10px;
}
.titulo3_fcot {
  color: #0a0a0a;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #979593;
  text-align: center;
}
.titulo4_fcot {
  font-size: 20px;
  color: #fcfbfb;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.boton2 {
  background-color: #979593;
  margin-bottom: 10px;
}

.cuadro {
  background-color: #979593;
}

.foot_cot {
  width: 0vw;
}

/*CONTACTO*/
.h2_contacto1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.formulario, .formulario_con, .formulario_cot {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.formulario_con {
  background-image: linear-gradient(#141010, #a15050);
}

.table {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-right: 30px;
}
.table_nombre {
  font-size: 1.5rem;
  border: solid 1px;
  text-align: center;
}
.table_nombre1 {
  font-size: 1.5rem;
  border: solid 1px;
}

.h2_contacto {
  margin-top: 3%;
  font-size: 2rem;
}

.f_cont {
  margin: 20px;
}

.img-eje {
  background-image: url("../assets/ejeconbasedistribuidor.jpg");
  background-size: cover;
  background-position: center;
}

.img-horquilla {
  background-image: url("../assets/horquilla.jpg");
  background-size: cover;
  background-position: center;
  height: 170px;
  border: 5px solid rgb(88, 85, 85);
}

.img-bastidor {
  background-image: url("../assets/batidor.jpg");
  background-size: cover;
  background-position: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 1281px) {
  .sectionindex {
    height: 58vw;
  }
  .p_index {
    height: 26vw;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 2vw;
    margin-left: -29px;
  }
}
@media screen and (max-width: 1241px) {
  .p_index {
    font-size: 1rem;
    width: 22vw;
    height: 19vw;
  }
  .h2_index {
    font-size: 1rem;
  }
  .menu2 {
    width: 34vw;
    margin-left: 34px;
  }
  .tituloh1 {
    font-size: 3rem;
  }
  .sectionindex {
    width: 65vw;
    justify-content: center;
    height: 50vw;
  }
  .logo_footer {
    width: 72px;
    height: 61px;
    margin-left: 5px;
  }
  .ir_footer {
    margin-bottom: 22px;
    margin-right: 30px;
    display: flex;
    align-items: flex-end;
    margin-top: 153px;
    height: 7vw;
    width: 65px;
  }
  .p_footer {
    flex-direction: column;
    display: flex;
    width: 97px;
    margin-left: -65px;
  }
  .copyright {
    margin-left: 136px;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 5vw;
    margin-left: -44px;
  }
  .bot_quie {
    margin-left: -55px;
  }
}
@media screen and (max-width: 1100px) {
  .sectionindex {
    height: 57vw;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1.2rem;
  }
  .asideqs_h2 {
    margin-left: -53px;
  }
}
@media screen and (max-width: 977px) {
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -78px;
  }
  .asideqs_h2 {
    width: 9vw;
    margin-left: -52px;
  }
}
@media screen and (max-width: 960px) {
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -78px;
  }
  .asideqs_h2 {
    margin-left: -65px;
  }
}
@media screen and (max-width: 900px) {
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    margin-left: -60px;
  }
  .bot_quie {
    margin-left: -84px;
  }
}
@media screen and (max-width: 882px) {
  .sectionindex {
    width: 73vw;
    height: 59vw;
  }
  .p_index {
    height: 23vw;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    margin-left: -72px;
  }
  .bot_quie {
    margin-left: -106px;
  }
}
@media screen and (max-width: 817px) {
  .p_index {
    height: 33vw;
  }
  .sectionindex {
    width: 73vw;
    height: 72vw;
  }
  .carousel-inner .carousel__alto {
    height: 472px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    height: 58vw;
    margin-left: 20px;
  }
  .asideqs_h2 {
    margin-left: -82px;
  }
  .bot_quie {
    margin-left: -109px;
  }
}
@media screen and (max-width: 767px) {
  .ir_header {
    width: 79px;
  }
  .menu {
    margin-top: -100px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1rem;
  }
  .bot_quie {
    margin-left: -108px;
  }
  /*operator*/
  .flex-card {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 734px) {
  .ir_footer {
    width: 62px;
    margin-left: -14px;
  }
}
@media screen and (max-width: 690px) {
  .p_index {
    height: 36vw;
    line-height: 1.2;
  }
  .ir_footer {
    margin-left: -28px;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -111px;
  }
  .p_quienessomos {
    margin-top: 54px;
  }
}
@media screen and (max-width: 629px) {
  .ir_header {
    width: 1, 1rem;
  }
  .sectionindex {
    height: 78vw;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -94px;
  }
  .asideqs_h2 {
    margin-left: -80px;
  }
  .section_quienessomos {
    margin-left: -54px;
  }
  .ir_footer {
    margin-left: -26px;
    font-size: 0.6rem;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .p_myr {
    width: 38vw;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 589px) {
  .p_index {
    font-size: 0.8rem;
    width: 19vw;
    height: 34vw;
    line-height: 0.9;
    margin-left: 43px;
  }
  .tituloh1 {
    font-size: 2rem;
  }
  .sectionindex {
    width: 71vw;
  }
  .img_index {
    margin-right: 12px;
    margin-left: 28px;
  }
  .aside_h2 {
    font-size: 1rem;
    margin-top: 10px;
  }
  .p_footer {
    width: 87px;
  }
  .copyright {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }
  .carousel-inner .carousel__alto {
    height: 366px;
  }
  /*QUIENES SOMOS*/
  .ir_footer {
    margin-left: -40px;
    width: 10vw;
  }
  .p_quienessomos {
    margin-top: 80px;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .titulo_pages {
    font-size: 30px;
  }
  .p_myr {
    margin-top: 53px;
  }
  .h2_myr {
    margin-top: 23px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 513px) {
  .p_index {
    height: 27vw;
    margin-left: 41px;
  }
  .copyright {
    margin-left: 27px;
  }
  .p_footer {
    width: 78px;
  }
  .menu__link2 {
    font-size: 0.7rem;
    margin-left: -33px;
  }
  .logo_footer {
    height: 41px;
  }
}
@media screen and (max-width: 499px) {
  .p_index {
    height: 33vw;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .p_myr {
    margin-top: 73px;
    font-size: 18px;
  }
  .h2_myr {
    margin-top: 31px;
    font-size: 25px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -241px;
  }
  .article_quienessomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-top: -94px;
    margin-bottom: 33px;
    height: 155vw;
  }
  .p_quienessomos {
    margin-right: 31px;
    margin-left: 13px;
    height: 46vw;
    width: 62vw;
  }
  .asideqs_h2 {
    margin-left: -279px;
    margin-top: 611px;
    width: 38vw;
  }
  .img_quienessomos {
    width: 51vw;
    height: 47vw;
    margin-left: 15px;
  }
  .img-horquilla {
    height: 140px;
    width: 199px;
  }
  .card {
    height: 353px;
  }
}
@media screen and (max-width: 464px) {
  .p_footer {
    width: 64px;
  }
  .p_index {
    margin-left: 25px;
    height: 34vw;
    width: 26vw;
  }
  .copyright {
    margin-left: 36px;
  }
  /*QUIENES SOMOS*/
  .card {
    margin-top: 38px;
  }
  .p_quienessomos {
    height: 61vw;
  }
  .asideqs_h2 {
    margin-left: -256px;
    width: 43vw;
  }
  .bot_quie {
    margin-left: -222px;
  }
  /*CONTACTO*/
  .table-responsive-md {
    padding-left: 15px;
  }
}
@media screen and (max-width: 440px) {
  /*CONTACTO*/
  .h2_contacto1 {
    font-size: 1.5rem;
  }
  .h2_contacto {
    font-size: 1.5rem;
  }
  .titulo_fcot {
    font-size: 22px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    margin-top: 92px;
    margin-left: -9px;
  }
  .img_quienessomos {
    margin-left: -18px;
  }
  .article_quienessomos {
    margin-left: 137px;
  }
  .asideqs_h2 {
    margin-left: -242px;
    width: 52vw;
  }
  .bot_quie {
    margin-left: -212px;
  }
}
@media screen and (max-width: 402px) {
  .p_footer {
    width: 64px;
  }
  .tituloh1 {
    font-size: 1.5rem;
  }
  .p_index {
    margin-left: 25px;
    height: 36vw;
    width: 26vw;
    font-size: 0.8rem;
  }
  .sectionindex {
    width: 74vw;
    margin-left: 50px;
    height: 84vw;
  }
  .h2_index {
    font-size: 0.9rem;
  }
  .menu2 {
    justify-content: space-evenly;
  }
  .menu__link2 {
    font-size: 0.65rem;
  }
  .ir_footer {
    width: 11vw;
  }
  .logo_footer {
    width: 56px;
    height: 47px;
  }
  .d-block.w-100 {
    height: 424px !important;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  picture img {
    width: 160px;
    height: 160px;
  }
  .p_myr {
    margin-top: 51px;
    font-size: 15px;
  }
  .div_pages {
    display: flex;
    flex-direction: column;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .img_quienessomos {
    margin-left: 1px;
  }
  .p_quienessomos {
    margin-top: 119px;
    margin-bottom: -20px;
    margin-left: -17px;
  }
  .asideqs_h2 {
    margin-top: 656px;
  }
  /*CONTACTO*/
  .table-responsive-md {
    padding-left: 108px;
  }
}
@media screen and (max-width: 377px) {
  .p_index {
    height: 41vw;
    font-size: 0.8rem;
  }
  .sectionindex {
    width: 79vw;
    margin-left: 30px;
    height: 96vw;
  }
}
@media screen and (max-width: 374px) {
  .sectionindex {
    height: 95vw;
  }
  .p_index {
    width: 27vw;
    height: 42vw;
  }
  .menu__link2 {
    font-size: 0.6rem;
  }
  .ir_footer {
    width: -2vw;
  }
  .copyright {
    width: 295px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .ir_header {
    width: 11vw;
  }
  .asideqs_h2 {
    margin-top: 651px;
  }
  /*contacto*/
  .table-responsive-md {
    padding-left: 141px;
  }
}
@media screen and (max-width: 355px) {
  .d-block.w-100 {
    height: 326px !important;
  }
  .copyright {
    width: 259px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    margin-top: 139px;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 346px) {
  .sectionindex {
    height: 102vw;
  }
  .p_index {
    height: 47vw;
  }
  .ir_footer {
    width: 12vw;
    margin-left: -42px;
  }
  /*maquinarias y repuestos*/
  .p_myr {
    width: 34vw;
    font-size: 13px;
  }
  .titulo_pages {
    font-size: 25px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    height: 59vw;
    margin-top: 168px;
    margin-bottom: -77px;
    margin-left: -30px;
  }
  .img_quienessomos {
    margin-left: -7px;
  }
  .asideqs_h2 {
    margin-top: 679px;
    margin-left: -225px;
    width: 60vw;
  }
  .bot_quie {
    margin-left: -183px;
  }
}
@media screen and (max-width: 319px) {
  .sectionindex {
    height: 119vw;
  }
  .p_index {
    width: 30vw;
    height: 53vw;
    font-size: 0.8rem;
    margin-left: 19px;
  }
  article img {
    width: 30vw;
    height: 22vw;
  }
  .h2_index {
    font-size: 0.85rem;
    margin-left: 13px;
  }
  .tituloh1 {
    font-size: 1.4rem;
  }
  .ir_footer {
    width: 14vw;
    margin-left: -52px;
  }
  .p_footer {
    width: 50px;
  }
  .img_index {
    margin-right: 2px;
    margin-left: 17px;
  }
  /*contacto*/
  .table-responsive-md {
    padding-left: 169px;
  }
  .copyright {
    width: 214px;
  }
  /*Quienes somos*/
  .p_quienessomos {
    width: 67vw;
  }
  article img {
    margin-bottom: 21px;
  }
  .img_quienessomos {
    width: 48vw;
  }
}
@media screen and (max-width: 300px) {
  .p_index {
    height: 61vw;
  }
  .h2_index {
    font-size: 0.8rem;
  }
  .ir_header {
    width: 1, 1rem;
  }
  .img_index {
    margin-right: 9px;
    margin-left: 21px;
  }
  .sectionindex {
    margin-left: 3vw;
    width: 92vw;
    height: 126vw;
  }
  .menu__link2 {
    font-size: 0.6rem;
  }
  .aside_h2 {
    margin-left: 16px;
    font-size: 0.9rem;
  }
  .menu2 {
    margin-left: 15px;
  }
  .ir_footer {
    width: 14vw;
    margin-left: -49px;
  }
  .copyright {
    width: 211px;
  }
  /*contacto*/
  .table_nombre {
    font-size: 1.1rem;
  }
  .table_nombre1 {
    font-size: 1rem;
  }
  /*QUIENES SOMOS*/
  .img_quienessomos {
    margin-top: 42px;
    width: 51vw;
  }
  .p_quienessomos {
    width: 63vw;
    margin-left: -34px;
  }
}/*# sourceMappingURL=estilos.css.map */