* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-around;
}
header nav {
  background-color: none;
  display: flex;
  justify-content: space-around;
}

.navbar.navbar-expand-lg.bg-light {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
  color: black;
}

.bg-light {
  --bs-bg-opacity: 0;
}

.navbar {
  --bs-navbar-color: black;
  --bs-navbar-disabled-color: black;
}
.navbar container-fluid {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0, 1;
}

.navbar-collapse .navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  justify-content: center;
}

.gradientes {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
}

.ir_abajo {
  display: flex;
  justify-content: flex-end;
}

.ir_header {
  color: #0a0a0a;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Times New Roman";
  background-color: none;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}

/*MAIN*/
.tituloh1 {
  color: #9297A0;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: none;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes efecto {
  0% {
    color: #9297A0;
  }
  25% {
    color: #daab63;
  }
  50% {
    color: #daab63;
  }
  75% {
    color: #BF2527;
  }
}

@keyframes efecto {
  0% {
    color: #9297A0;
  }
  25% {
    color: #daab63;
  }
  50% {
    color: #daab63;
  }
  75% {
    color: #BF2527;
  }
}
/*FOOTER*/
.gradientes1 {
  background-image: linear-gradient(#BF2527, #d8b1b1, #BF2527);
}

footer {
  color: #f7e7e7;
  margin-top: 50px;
  list-style: none;
  text-decoration: none;
}

.logo_footer {
  width: 90px;
  height: 60px;
  display: flex;
  background-color: none;
  grid-area: logo;
}

.menu2 {
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.menu__link2 {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  grid-area: menu;
  background-color: none;
}

.ir_footer {
  color: #0a0a0a;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  grid-area: arriba;
}

.copyright {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  grid-area: copyright;
}

.grid {
  display: grid;
  grid-template-areas: "logo menu arriba " "logo menu arriba" "copyright copyright arriba";
  grid-template-rows: 200px;
  grid-template-columns: 120px;
}

.carousel-inner .carousel__alto {
  height: 550px;
}

.img-size, .img-bastidor, .img-horquilla, .img-eje {
  width: 200px;
  height: 150px;
  border: 10px solid rgb(240, 238, 238);
}

.card {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 400px;
  background-color: rgb(185, 73, 73);
}

.flex-card {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

/*HOME/INDEX*/
body {
  background-color: #f7e7e7;
  font-family: "Times New Roman";
}

main {
  background-color: #f7e7e7;
  display: flex;
  flex-direction: column;
}

.sectionindex {
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  background-color: #BF2527;
}

.articulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

article p {
  color: #121213;
  display: flex;
  text-align: justify;
  font-size: 1.5rem;
  border: rgb(250, 249, 249) solid 1px;
}
article h2 {
  color: #edf1f5;
  display: flex;
  font-size: 2rem;
}
article img {
  width: 25vw;
  height: 20vw;
  margin-top: 30px;
  border: solid 2px rgb(250, 249, 249);
}
article img:hover {
  transform: skew(3deg, 5deg);
}

.button_nav {
  justify-content: center;
  display: flex;
}

.aside _h2 {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 2rem;
}

/*QUIENES SOMOS*/
.section_quienessomos {
  display: flex;
  justify-content: center;
  border: transparent;
  margin-bottom: 10px;
}

.article_quienessomos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_quienessomos {
  color: #8190A5;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 10px;
  text-align: justify;
  font-family: Verdana;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_quienessomos {
  display: flex;
  border: transparent;
  background-image: url(../assets/Negocio.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
}
.img_quienessomos:hover {
  background-image: url(../assets/Representantes.jpg);
}

.aside1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.asideqs_h2 {
  font-size: 1rem;
  display: flex;
}

/*MAQUINARIAS Y REPUESTOS*/
.titulo_pages {
  display: flex;
  color: #9297A0;
  font-size: 50px;
  justify-content: space-around;
  background-color: none;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section_myr {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div_pages {
  display: flex;
  align-items: center;
  margin: 40px;
}

picture img {
  display: flex;
  width: 200px;
  height: 200px;
}

.article_myr {
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2_myr {
  font-size: 30px;
  margin-bottom: 40px;
  color: #424449;
}

.p_myr {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 20px;
  text-align: justify;
}

/*COTIZACIONES*/
.form {
  display: flex;
  justify-content: center;
}

.formulario, .formulario_con, .formulario_cot {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.formulario_cot {
  background-image: linear-gradient(#3b3a3a, #9c9292);
}

.titulo_fcot {
  color: #fcfbfb;
  font-size: 30px;
  text-align: center;
  background-color: #979593;
}
.titulo2_fcot {
  color: #fcfbfb;
  font-size: 20px;
  margin-left: 10px;
}
.titulo3_fcot {
  color: #0a0a0a;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #979593;
  text-align: center;
}
.titulo4_fcot {
  font-size: 20px;
  color: #fcfbfb;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.boton2 {
  background-color: #979593;
  margin-bottom: 10px;
}

.cuadro {
  background-color: #979593;
}

.foot_cot {
  width: 0vw;
}

/*CONTACTO*/
.h2_contacto1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.table {
  display: flex;
  justify-content: center;
}

.borde1 {
  border: solid 1px black;
}

.justificado {
  display: flex;
}

.formulario, .formulario_con, .formulario_cot {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.formulario_con {
  background-image: linear-gradient(#141010, #a15050);
}

.h2_contacto {
  margin-top: 3%;
  font-size: 2rem;
}

.f_cont {
  margin: 20px;
}

.img-eje {
  background-image: url("../assets/ejeconbasedistribuidor.jpg");
  background-size: cover;
  background-position: center;
}

.img-horquilla {
  background-image: url("../assets/horquilla.jpg");
  background-size: cover;
  background-position: center;
  height: 170px;
  border: 5px solid rgb(88, 85, 85);
}

.img-bastidor {
  background-image: url("../assets/batidor.jpg");
  background-size: cover;
  background-position: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 1281px) {
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 2vw;
  }
}
@media screen and (max-width: 1241px) {
  .h2_index {
    font-size: 1rem;
  }
  .tituloh1 {
    font-size: 3rem;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 5vw;
  }
}
@media screen and (max-width: 1100px) {
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 977px) {
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 9vw;
  }
}
@media screen and (max-width: 960px) {
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 900px) {
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 882px) {
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 817px) {
  .carousel-inner .carousel__alto {
    height: 472px;
  }
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 767px) {
  .ir_header {
    width: 79px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1rem;
  }
  /*operator*/
  .flex-card {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 629px) {
  .ir_header {
    width: 1, 1rem;
  }
  /*QUIENES SOMOS*/
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 589px) {
  .p_index {
    font-size: 0.8rem;
  }
  .tituloh1 {
    font-size: 2rem;
  }
  .aside_h2 {
    font-size: 1rem;
    margin-top: 10px;
  }
  .carousel-inner .carousel__alto {
    height: 366px;
  }
  /*QUIENES SOMOS*/
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .titulo_pages {
    font-size: 30px;
  }
  .h2_myr {
    margin-top: 23px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 499px) {
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .p_myr {
    font-size: 18px;
  }
  .h2_myr {
    margin-top: 31px;
    font-size: 25px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .article_quienessomos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .asideqs_h2 {
    width: 38vw;
  }
  .img-horquilla {
    height: 140px;
    width: 199px;
  }
  .card {
    height: 353px;
  }
  /*contacto*/
}
@media screen and (max-width: 464px) {
  /*QUIENES SOMOS*/
  .card {
    margin-top: 38px;
  }
  .asideqs_h2 {
    width: 43vw;
  }
  /*CONTACTO*/
}
@media screen and (max-width: 440px) {
  /*CONTACTO*/
  .titulo_fcot {
    font-size: 22px;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 52vw;
  }
}
@media screen and (max-width: 402px) {
  .tituloh1 {
    font-size: 1.5rem;
  }
  .h2_index {
    font-size: 0.9rem;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  picture img {
    width: 160px;
    height: 160px;
  }
  .p_myr {
    font-size: 15px;
  }
  .div_pages {
    display: flex;
    flex-direction: column;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  /*CONTACTO*/
}
@media screen and (max-width: 374px) {
  .sectionindex {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    height: auto;
  }
  .img_index {
    width: 100px;
    height: 100px;
  }
  .ir_footer {
    font-size: 0.7rem;
  }
  .grid {
    grid-template-rows: 200px;
    grid-template-columns: 60px;
  }
  .copyright {
    font-size: 0.9rem;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .ir_header {
    width: 27vw;
  }
  /*contacto*/
}
@media screen and (max-width: 355px) {
  /*QUIENES SOMOS*/
  /*contacto*/
}
@media screen and (max-width: 346px) {
  /*maquinarias y repuestos*/
  .p_myr {
    font-size: 13px;
  }
  .titulo_pages {
    font-size: 25px;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 60vw;
  }
}
@media screen and (max-width: 319px) {
  .h2_index {
    font-size: 0.85rem;
    margin-left: 13px;
  }
  .tituloh1 {
    font-size: 1.4rem;
  }
  /*contacto*/
  /*Quienes somos*/
  .img_quienessomos {
    width: 150px;
    height: 150px;
  }
  article img {
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 300px) {
  .h2_index {
    font-size: 0.8rem;
  }
  .ir_header {
    width: 1, 1rem;
  }
  .menu__link2 {
    font-size: 0.8rem;
  }
  .aside_h2 {
    margin-left: 16px;
    font-size: 0.9rem;
  }
  /*contacto*/
  /*QUIENES SOMOS*/
}
@media screen and (max-width: 265px) {
  /*quienes somos*/
  .asideqs_h2 {
    width: 78vw;
  }
}/*# sourceMappingURL=estilos.css.map */