/*MEDIA QUERY*/
@media screen and (max-width: 1281px) {
  .sectionindex {
    height: 58vw;
  }
  .p_index {
    height: 26vw;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 2vw;
    margin-left: -29px;
  }
}
@media screen and (max-width: 1241px) {
  .menu {
    align-content: space-around;
    width: 59vw;
    margin-left: 18px;
    flex-wrap: wrap;
  }
  .ir_header {
    width: 17vw;
  }
  .img_logo {
    margin-left: 27px;
    width: 13vw;
  }
  .p_index {
    font-size: 1rem;
    width: 22vw;
    height: 19vw;
  }
  .h2_index {
    font-size: 1rem;
  }
  .menu2 {
    width: 34vw;
    margin-left: 34px;
  }
  .tituloh1 {
    font-size: 3rem;
  }
  .sectionindex {
    width: 65vw;
    justify-content: center;
    height: 50vw;
  }
  .logo_footer {
    width: 72px;
    height: 61px;
    margin-left: 5px;
  }
  .ir_footer {
    margin-bottom: 22px;
    margin-right: 30px;
    /* 74px; */
    display: flex;
    align-items: flex-end;
    margin-top: 153px;
    height: 7vw;
    width: 65px;
  }
  .p_footer {
    flex-direction: column;
    display: flex;
    width: 97px;
    margin-left: -65px;
  }
  .copyright {
    margin-left: 136px;
  }
  .ir_abajo {
    margin-left: -70px;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    width: 5vw;
    margin-left: -44px;
  }
  .bot_quie {
    margin-left: -55px;
  }
}
@media screen and (max-width: 1100px) {
  .sectionindex {
    height: 57vw;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1.2rem;
  }
  .asideqs_h2 {
    margin-left: -53px;
  }
}
@media screen and (max-width: 977px) {
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -78px;
  }
  .asideqs_h2 {
    width: 9vw;
    margin-left: -52px;
  }
}
@media screen and (max-width: 960px) {
  .menu {
    font-size: 0.8rem;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -78px;
  }
  .asideqs_h2 {
    margin-left: -65px;
  }
}
@media screen and (max-width: 900px) {
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    margin-left: -60px;
  }
  .bot_quie {
    margin-left: -84px;
  }
}
@media screen and (max-width: 888px) {
  .menu {
    font-size: 0.8rem;
  }
  .ir_abajo {
    margin-left: -80px;
  }
}
@media screen and (max-width: 882px) {
  .menu {
    margin-left: 79px;
    font-size: 0.7rem;
  }
  .ir_header {
    width: 9vw;
  }
  .sectionindex {
    width: 73vw;
    height: 59vw;
  }
  .p_index {
    height: 23vw;
  }
  /*QUIENES SOMOS*/
  .asideqs_h2 {
    margin-left: -72px;
  }
  .bot_quie {
    margin-left: -106px;
  }
}
@media screen and (max-width: 817px) {
  .p_index {
    height: 33vw;
  }
  .ir_header {
    width: 6vw;
    font-size: 0.75rem;
  }
  .sectionindex {
    width: 73vw;
    height: 72vw;
  }
  .carousel-inner .carousel__alto {
    height: 472px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    height: 58vw;
    margin-left: 20px;
  }
  .asideqs_h2 {
    margin-left: -82px;
  }
  .bot_quie {
    margin-left: -109px;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 23vw;
  }
  .ir_abajo {
    flex-direction: column-reverse;
    width: 7vw;
    display: flex;
    margin-left: 153px;
  }
  .ir_header {
    width: 42px;
    height: 26px;
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-left: 81px;
  }
  .button_nav {
    justify-content: center;
    display: flex;
    width: 58vw;
    margin-top: 4px;
    flex-direction: row-reverse;
  }
  .menu {
    margin-top: -100px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    font-size: 1rem;
  }
  .bot_quie {
    margin-left: -108px;
  }
  /*operator*/
  .flex-card {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 734px) {
  .menu {
    margin-left: 66px;
    font-size: 0.65rem;
  }
  .ir_header {
    width: -4vw;
    margin-left: 43px;
  }
  .ir_footer {
    width: 62px;
    margin-left: -14px;
  }
}
@media screen and (max-width: 690px) {
  .menu {
    margin-left: 49px;
    font-size: 0.6rem;
  }
  .p_index {
    height: 36vw;
    line-height: 1.2;
  }
  .ir_footer {
    margin-left: -28px;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -111px;
  }
  .p_quienessomos {
    margin-top: 54px;
  }
}
@media screen and (max-width: 629px) {
  .menu {
    margin-left: 45px;
    font-size: 0.55rem;
  }
  .ir_header {
    margin-left: 33px;
  }
  .sectionindex {
    height: 78vw;
  }
  .ir_abajo {
    margin-left: 113px;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -94px;
  }
  .asideqs_h2 {
    margin-left: -80px;
  }
  .section_quienessomos {
    margin-left: -54px;
  }
  .ir_footer {
    margin-left: -26px;
    font-size: 0.6rem;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .p_myr {
    width: 38vw;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 589px) {
  .menu {
    margin-top: -102px;
    text-align: center;
    font-size: 0.7rem;
  }
  .ir_header {
    margin-left: 5px;
  }
  header {
    height: 32vw;
  }
  .p_index {
    font-size: 0.8rem;
    width: 19vw;
    height: 34vw;
    line-height: 0.9;
    margin-left: 43px;
  }
  .img_logo {
    margin-left: 4px;
  }
  .tituloh1 {
    font-size: 2rem;
  }
  .sectionindex {
    width: 71vw;
  }
  .img_index {
    margin-right: 12px;
    margin-left: 28px;
  }
  .aside_h2 {
    font-size: 1rem;
    margin-top: 10px;
  }
  .p_footer {
    width: 87px;
  }
  .copyright {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }
  .carousel-inner .carousel__alto {
    height: 366px;
  }
  /*QUIENES SOMOS*/
  .ir_footer {
    margin-left: -40px;
    width: 10vw;
  }
  .p_quienessomos {
    margin-top: 80px;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .titulo_pages {
    font-size: 30px;
  }
  .p_myr {
    margin-top: 53px;
  }
  .h2_myr {
    margin-top: 23px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
}
@media screen and (max-width: 532px) {
  .ir_header {
    margin-left: -25px;
  }
}
@media screen and (max-width: 513px) {
  header {
    height: 36vw;
  }
  .menu {
    height: 35vw;
    width: 62vw;
    margin-top: -98px;
    margin-right: 4px;
  }
  .p_index {
    height: 27vw;
    margin-left: 41px;
  }
  .copyright {
    margin-left: 27px;
  }
  .p_footer {
    width: 78px;
  }
  .menu__link2 {
    font-size: 0.7rem;
    margin-left: -33px;
  }
  .logo_footer {
    height: 41px;
  }
}
@media screen and (max-width: 499px) {
  .menu {
    height: 39vw;
    width: 56vw;
  }
  .p_index {
    height: 33vw;
  }
  .ir_header {
    width: -2vw;
  }
  .ir_abajo {
    width: 1vw;
  }
  header {
    height: 40vw;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  .p_myr {
    margin-top: 73px;
    font-size: 18px;
  }
  .h2_myr {
    margin-top: 31px;
    font-size: 25px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .bot_quie {
    margin-left: -241px;
  }
  .article_quienessomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-top: -94px;
    margin-bottom: 33px;
    height: 155vw;
  }
  .p_quienessomos {
    margin-right: 31px;
    margin-left: 13px;
    height: 46vw;
    width: 62vw;
  }
  .asideqs_h2 {
    margin-left: -279px;
    margin-top: 611px;
    width: 38vw;
  }
  .img_quienessomos {
    width: 51vw;
    height: 47vw;
    margin-left: 15px;
  }
  .img-horquilla {
    height: 140px;
    width: 199px;
  }
  .card {
    height: 353px;
  }
}
@media screen and (max-width: 464px) {
  .p_footer {
    width: 64px;
  }
  .p_index {
    margin-left: 25px;
    height: 34vw;
    width: 26vw;
  }
  .copyright {
    margin-left: 36px;
  }
  /*QUIENES SOMOS*/
  .card {
    margin-top: 38px;
  }
  .p_quienessomos {
    height: 61vw;
  }
  .asideqs_h2 {
    margin-left: -256px;
    width: 43vw;
  }
  .bot_quie {
    margin-left: -222px;
  }
  /*CONTACTO*/
  .table-responsive-md {
    padding-left: 15px;
  }
}
@media screen and (max-width: 440px) {
  header {
    height: 43vw;
  }
  .menu {
    height: 43vw;
    width: 57vw;
  }
  /*CONTACTO*/
  .h2_contacto1 {
    font-size: 1.5rem;
  }
  .h2_contacto {
    font-size: 1.5rem;
  }
  .titulo_fcot {
    font-size: 22px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    margin-top: 92px;
    margin-left: -9px;
  }
  .img_quienessomos {
    margin-left: -18px;
  }
  .article_quienessomos {
    margin-left: 137px;
  }
  .asideqs_h2 {
    margin-left: -242px;
    width: 52vw;
  }
  .bot_quie {
    margin-left: -212px;
  }
}
@media screen and (max-width: 402px) {
  .p_footer {
    width: 64px;
  }
  .tituloh1 {
    font-size: 1.5rem;
  }
  .p_index {
    margin-left: 25px;
    height: 34vw;
    width: 26vw;
    font-size: 0.65rem;
  }
  .ir_header {
    font-size: 0.6rem;
  }
  .h2_index {
    font-size: 0.7rem;
  }
  .menu {
    height: 44vw;
    font-size: 0.6rem;
  }
  .menu2 {
    justify-content: space-evenly;
  }
  .menu__link2 {
    font-size: 0.65rem;
  }
  .ir_footer {
    width: 11vw;
  }
  .logo_footer {
    width: 56px;
    height: 47px;
  }
  .d-block.w-100 {
    height: 424px !important;
  }
  /*Maquinas y Repuestos*/
  .myr_foot {
    margin-top: 196px;
    height: 0vw;
  }
  .myr_foot1 {
    margin-top: 199px;
    width: 0vw;
  }
  picture img {
    width: 160px;
    height: 160px;
  }
  .p_myr {
    margin-top: 51px;
    font-size: 15px;
  }
  .div_pages {
    display: flex;
    flex-direction: column;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .img_quienessomos {
    margin-left: 1px;
  }
  .p_quienessomos {
    margin-top: 119px;
    margin-bottom: -20px;
    margin-left: -17px;
  }
  .asideqs_h2 {
    margin-top: 656px;
  }
  /*CONTACTO*/
  .table-responsive-md {
    padding-left: 108px;
  }
}
@media screen and (max-width: 374px) {
  .sectionindex {
    height: 84vw;
  }
  .p_index {
    width: 24vw;
    line-height: 0.7;
    height: 25vw;
  }
  .menu__link2 {
    font-size: 0.6rem;
  }
  .ir_footer {
    width: -2vw;
  }
  .copyright {
    width: 295px;
  }
  /*Cotizaciones*/
  .foot_cot {
    margin-top: 193px;
    height: 0vw;
  }
  /*QUIENES SOMOS*/
  .ir_header {
    width: 11vw;
  }
  .asideqs_h2 {
    margin-top: 651px;
  }
  /*contacto*/
  .table-responsive-md {
    padding-left: 141px;
  }
}
@media screen and (max-width: 363px) {
  .menu {
    height: 45vw;
    font-size: 0.6rem;
  }
  header {
    height: 48vw;
  }
}
@media screen and (max-width: 355px) {
  .menu {
    height: 50vw;
  }
  header {
    height: 58vw;
  }
  .d-block.w-100 {
    height: 326px !important;
  }
  .copyright {
    width: 259px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    margin-top: 139px;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 346px) {
  .ir_header {
    margin-left: -57px;
  }
  .menu {
    height: 55vw;
  }
  .ir_footer {
    width: 12vw;
    margin-left: -42px;
  }
  .img_logo {
    margin-left: -5px;
  }
  /*maquinarias y repuestos*/
  .p_myr {
    width: 34vw;
    font-size: 13px;
  }
  .titulo_pages {
    font-size: 25px;
  }
  /*QUIENES SOMOS*/
  .p_quienessomos {
    height: 59vw;
    margin-top: 168px;
    margin-bottom: -77px;
    margin-left: -30px;
  }
  .img_quienessomos {
    margin-left: -7px;
  }
  .asideqs_h2 {
    margin-top: 679px;
    margin-left: -225px;
    width: 60vw;
  }
  .bot_quie {
    margin-left: -183px;
  }
}
@media screen and (max-width: 319px) {
  .menu {
    height: 60vw;
    width: 62vw;
  }
  .tituloh1 {
    font-size: 1.4rem;
  }
  .ir_abajo {
    margin-left: 98px;
    width: 3vw;
  }
  .ir_footer {
    width: 14vw;
    margin-left: -52px;
  }
  .p_footer {
    width: 50px;
  }
  .img_index {
    margin-right: 2px;
    margin-left: 17px;
  }
  /*contacto*/
  .table-responsive-md {
    padding-left: 169px;
  }
  .copyright {
    width: 214px;
  }
  /*Quienes somos*/
  .p_quienessomos {
    width: 67vw;
  }
  article img {
    margin-bottom: 21px;
  }
  .img_quienessomos {
    width: 48vw;
  }
}
@media screen and (max-width: 300px) {
  .menu {
    height: 55vw;
    width: 61vw;
    margin-top: -78px;
  }
  .p_index {
    line-height: 0.8;
    height: 38vw;
  }
  .h2_index {
    font-size: 0.7rem;
  }
  .ir_header {
    width: 16vw;
  }
  .img_index {
    margin-right: 11px;
    margin-left: 19px;
  }
  .sectionindex {
    margin-left: 26px;
    width: 76vw;
    height: 102vw;
  }
  .menu__link2 {
    font-size: 0.6rem;
  }
  .aside_h2 {
    margin-left: 16px;
    font-size: 0.9rem;
  }
  .menu2 {
    margin-left: 15px;
  }
  .ir_footer {
    width: 14vw;
    margin-left: -49px;
  }
  .copyright {
    width: 211px;
  }
  .sectionindex {
    margin-left: 26px;
    width: 76vw;
    height: 99vw;
  }
  /*contacto*/
  .table_nombre {
    font-size: 1.1rem;
  }
  .table_nombre1 {
    font-size: 1rem;
  }
  /*QUIENES SOMOS*/
  .img_quienessomos {
    margin-top: 42px;
    width: 51vw;
  }
  .p_quienessomos {
    width: 63vw;
    margin-left: -34px;
  }
}/*# sourceMappingURL=mediaquerys.css.map */