//BASE//
@import "base/reset";

//UTILIDADES-VARIABLES//
@import "utilidades/variables";

//LAYOUT//
@import "layout/header";
@import "layout/main";
@import "layout/footer";

//VIEWS o PAGE//
@import "pages/home";
@import "pages/quienessomos";
@import "pages/maquinariasyrepuestos";
@import "pages/cotizaciones";
@import "pages/contacto";

//UTILIDADES-OPERATOR//
@import "utilidades/operator";

//UTILIDADES-MEDIAQUERYS//
@import "utilidades/mediaquerys";




//MAP=LISTA DE ELEMENTOS//

$redes:( 
twitter: url("../assets/"),
facebook:url("../assets/"),
instagram:url("../assets/"),
);

//each//
@each $name, $url in $redes {
    .btn-#{$name}{
        background-image: ($url);
        @if($name == "twitter"){
            background-color: #6fe0bb;
            border-radius:50%;
        } @else{
            color:aliceblue;
        }
    }
    
} 
