<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="tanzi, maquinas agricolas, herramientas agricolas, repuestos agricolas, juber, super walter ">
    <meta name="description" content="Envianos tu consulta, te enviamos la cotizacion y la forma de financiacion">

    <!--CSS BOOSTRAP ONLY-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/Logo-copia.jpg" type="image/x-icon">

    <!--CSS PROPIO-->
    <link rel="stylesheet" href="../css/estilos.css">

    <title>Suc.de Marcelo Alessi-Cotizaciones</title>

</head>

<body>

    <!--NAVEGACION-->
    <header id="arriba" class=" gradientes">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./quienes somos.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./maquinariasyrepuestos.html">Maquinarias</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./cotizaciones.html">Cotizaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <!--MAIN-->
    <main>
        <p class="ir_abajo">
            <a href="#abajo" class="ir_header">Ir abajo</a>
        </p>
        <h1 class="tituloh1">Consultas por Cotizaciones</h1>
        <form class="form" action="">
            <fieldset class="formulario_cot">
                <legend class="titulo_fcot">Datos personales</legend>
                <label for="Nombre" class="titulo2_fcot">Nombre</label>
                <input type]="text" name="Nombre" id="Nombre" placeholder="Ingresa tu Nombre" class="titulo3_fcot"
                    required>

                <label for="Apellido" class="titulo2_fcot">Apellido</label>
                <input type]="text" name="Apellido" id="Apellido" placeholder="Ingresa tu Apellido" required
                    class="titulo3_fcot">

                <label for="Localidad" class="titulo2_fcot">Localidad</label>
                <input type]="text" name="Localidad" id="Localidad" placeholder="Ingresa tu Localidad" required
                    class="titulo3_fcot">

                <label for="correo" class="titulo2_fcot">Correo electrónico</label>
                <input type="email" name="correo" id="correo" placeholder="Ingresa tu Correo" required
                    class="titulo3_fcot">

                <label for="num" class="titulo2_fcot">Numero de Telefono</label>
                <input type ]="number" name="Num" id="num" placeholder="Ingresa tu Numero" required
                    class="titulo3_fcot">

                <div class="titulo4_fcot"> Acerca de:

                    <input type="checkbox" name="cbox1" clas=""> Maquinarias
                    <input type="checkbox" name="cbox1"> Repuestos
                </div>

                <div class="mb-3">
                    <label for="Textarea" class="form-label titulo2_fcot">Escriba su consulta para cotizar</label>
                    <textarea class="form-control cuadro border border-light" id="Textarea" rows="3"></textarea>
                </div>

                <input class="btn btn-outline-light boton2" type="submit" value="Enviar la consulta">
                <input class="btn btn-outline-light boton2" type="reset" value="Limpiar la consulta">

            </fieldset>
        </form>
    </main>

    <!--PIE DE PAGINA-->
    <footer id="abajo" class="grid gradientes1">
        <picture class="logo_footer">
            <img src="../assets/Logo-copia.jpg" class="logo_footer" alt="Logo MA">
        </picture>
        <ul class="menu2">
            <li>
                <a href="../index.html" class="menu__link2">Home</a>
            </li>
            <li>
                <a href="./quienes somos.html" class="menu__link2">Quienes Somos</a>
            </li>
            <li>
                <a href="./maquinariasyrepuestos.html" class="menu__link2">Maquinarias y Repuestos</a>
            </li>
            <li>
                <a href="./cotizaciones.html" class="menu__link2">Cotizaciones</a>
            </li>
            <li>
                <a href="./contacto.html" class="menu__link2">Contacto</a>
            </li>
        </ul>
        <p class="ir_footer foot_cot">
            <a href="#arriba" class="ir_footer"> Ir arriba </a>
        </p>
        <p class="copyright">
            Copyright 2022: Todos los derechos reservados
        </p>

    </footer>

    <!--JAVASCRIPT BUNDLE WITH POPPER-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>


</html>

</html>