<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content=" IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="tanzi, maquinas agricolas, herramientas agricolas, repuestos agricolas, juber, super walter ">
    <meta name="description" content="Los mejores precios en repuestos y maquinas agricolas estan aquì">

    <!--CSS BOOSTRAP ONLY-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="shortcut icon" href="../assets/Logo-copia.jpg" type="image/x-icon">

    <!--CSS PROPIO-->
    <link rel="stylesheet" href="../css/estilos.css">

    <title>Suc.de Marcelo Alessi-Maquinarias y Repuestos</title>

</head>

<body>

    <!--NAVEGACION-->
    <header id="arriba" class="grid2 gradientes">
        <nav>
            <nav class="navbar navbar-expand-lg navbar-expand-md">
                <div class="container">
                    <a class="navbar-brand img_logo">
                        <img src="../assets/Logo-copia.jpg" alt="Logo MA" width="40" height="30">
                    </a>
                </div>
                <div class="container-fluid button_nav">
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav menu">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline me-2" href="./quienes somos.html">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline me-2 "
                                    href="./maquinariasyrepuestos.html">Maquinarias y Repuestos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline me-2 " href="./cotizaciones.html">Cotizaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline me-2 " href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>
        <p class="ir_abajo">
            <a href="#abajo" class="ir_header"> Ir abajo </a>
        </p>
    </header>

    <!--MAIN-->
    <main>
        <h1 class="titulo_pages ">Maquinarias y Repuestos</h1>
        <section class="section_myr">
            <div class="div_pages">
                <picture class="img_myr">
                    <img src="../assets/mazadobledisco.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">
                    <h2 class="h2_myr"> Maza doble Disco</h2>
                    <p class="p_myr"> Maza para bolillero 6203 y retèn DBH 5268. Maza de diàmetro interior de 57 mm y 6
                        agujeros laterales para bulones cabeza frezada y tuerca autofrenante de 0,75 mm. Maza bilateral.
                    </p>
                </article>
            </div>
            <div class="div_pages">
                <picture class="img_myr">
                    <img src="../assets/ejedobledisco.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">
                    <h2 class="h2_myr"> Eje doble Disco</h2>
                    <p class="p_myr"> Eje con tapa fija de 40 mm sujetada por un seguer de 41 mm. Esto permite que sea
                        utilizada en el eje tanto del lado derecho como del izquierdo.
                    </p>
                </article>
            </div>
            <div class="div_pages">
                <picture>
                    <img src="../assets/Brazocuchillaturbo.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">
                    <h2 class="h2_myr"> Brazo con eje de cuchilla</h2>
                    <p class="p_myr"> Brazo soporte maza cuchilla, que contiene un eje cambiable que permite soportar
                        una maza de 4 agujeros laterales para sostener la cuchilla turbo de 16 pulgadas.
                    </p>
                </article>
            </div>
        </section>
    </main>

    <!--PIE DE PAGINA-->
    <footer id="abajo" class="grid gradientes1">
        <picture class="logo_footer">
            <img src="../assets/Logo-copia.jpg" class="logo_footer" alt="Logo MA">
        </picture>

        <ul class="menu2">
            <li>
                <a href="../index.html" class="menu__link2">Home</a>
            </li>
            <li>
                <a href="./quienes somos.html" class="menu__link2">Quienes Somos</a>
            </li>
            <li>
                <a href="./maquinariasyrepuestos.html" class="menu__link2">Maquinarias y Repuestos</a>
            </li>
            <li>
                <a href="./cotizaciones.html" class="menu__link2">Cotizaciones</a>
            </li>
            <li>
                <a href="./contacto.html" class="menu__link2">Contacto</a>
            </li>
        </ul>
        <p class="ir_footer myr_foot1">
            <a href="#arriba" class="ir_footer myr_foot "> Ir arriba </a>
        </p>
        <p class="copyright">
            Copyright 2022:Todos los derechos reservados
        </p>
    </footer>

    <!--JAVASCRIPT BUNDLE WITH POPPER-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>

</html>