<!DOCTYPE html>
<html lang="es">
<!--Contenido de la página en Español. Es el lenguaje Puede ser "en"-->

<head>
    <!--cabeza-->
    <meta charset="UTF-8">
    <!--Para los caracteres en español-->
    <meta http-equiv="X-UA-Compatible content=" IE=edge>
    <!--Compatibilidad del nav. 
            donde se consulta la pag. y content es IE Internet Explore = al navegador 
            estandar a utilizar-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Viewport
        nos permite indicar cómo se verá un proyecto web en los dispositivos móviles-->
    <!--width=device-width establece el ancho de la ventana gráfica al ancho del 
        dispositivo. initial-scale=1 establece el nivel de zoom inicial cuando el usuario
         visita la página.-->
    <title>Suc.de Marcelo Alessi-Maquinarias y Repuestos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/grid.css">

</head>

<body>
    <header id="arriba" class="grid2 gradientes">
      <!-- <picture class="img_logo">
            <img src="../assets/Logo.jpg" class="img_logo" alt="Logo MA">
        </picture>--> 
        <nav>
            <nav class="navbar navbar-expand-lg navbar-expand-md">
                <div class="container">
                    <a class="navbar-brand img_logo">
                      <img src="../assets/Logo.jpg" alt="Logo MA" width="40" height="30">
                    </a>
                  </div>
                <div class="container-fluid button_nav">
                  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav menu">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline me-2" href="./quienes somos.html">Quienes Somos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline me-2 " href="./maquinariasyrepuestos.html">Maquinarias y Repuestos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline me-2 "href="./cotizaciones.html">Cotizaciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline me-2 " href="./contacto.html">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        <!--    <ul class="menu">
                <li>
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li>
                    <a href="./quienes somos.html" class="menu__link">Quienes Somos</a>
                </li>
                <li>
                    <a href="./maquinariasyrepuestos.html" class="menu__link">Maquinarias y Repuestos</a>
                </li>
                <li>
                    <a href="./cotizaciones.html" class="menu__link">Cotizaciones</a>
                </li>
                <li>
                    <a href="./contacto.html" class="menu__link1">Contacto</a>
                </li>
            </ul>-->
        </nav>
        <p class="ir_abajo">
            <a href="#abajo" class="ir_header"> Ir abajo </a>
        </p>

    </header>
    <main>

        <h1 class="titulo_pages ">Maquinarias y Repuestos</h1>

        <section class="section_myr">
            <div class="div_pages">
                <picture class="img_myr">
                    <img src="../assets/mazadobledisco.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">

                    <h2 class="h2_myr"> Maza doble Disco</h2>
                    <p class="p_myr"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Animi veniam sit excepturi pariatur, nobis dolorem sunt odit
                        non hic repudiandae tenetur, dolorum cumque nemo, doloremque
                        itaque nihil incidunt numquam quisquam.</p>
                </article>
            </div>
            <div class="div_pages">
                <picture class="img_myr">
                    <img src="../assets/ejedobledisco.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">

                    <h2 class="h2_myr"> Eje doble Disco</h2>
                    <p class="p_myr"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Animi veniam sit excepturi pariatur, nobis dolorem sunt odit
                        non hic repudiandae tenetur, dolorum cumque nemo, doloremque
                        itaque nihil incidunt numquam quisquam.</p>
                </article>

            </div>

            <div class="div_pages">
                <picture>
                    <img src="../assets/Brazocuchillaturbo.jpg" alt="" class="img_myr">
                </picture>
                <article class="article_myr">

                    <h2 class="h2_myr"> Brazo con eje de cuchilla</h2>
                    <p class="p_myr"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Animi veniam sit excepturi pariatur, nobis dolorem sunt odit
                        non hic repudiandae tenetur, dolorum cumque nemo, doloremque
                        itaque nihil incidunt numquam quisquam.</p>

                </article>
            </div>
        </section>
    </main>
    <footer id="abajo" class="grid gradientes1">
        <picture class="logo_footer">
            <img src="../assets/Logo.jpg" class="logo_footer" alt="Logo MA">
        </picture>

        <ul class="menu2">
            <li>
                <a href="../index.html" class="menu__link2">Home</a>
            </li>
            <li>
                <a href="./quienes somos.html" class="menu__link2">Quienes Somos</a>
            </li>
            <li>
                <a href="./maquinariasyrepuestos.html" class="menu__link2">Maquinarias y Repuestos</a>
            </li>
            <li>
                <a href="./cotizaciones.html" class="menu__link2">Cotizaciones</a>
            </li>
            <li>
                <a href="./contacto.html" class="menu__link2">Contacto</a>
            </li>
        </ul>

        <p class="ir_footer myr_foot1">
            <a href="#arriba" class="ir_footer myr_foot "> Ir arriba </a>
        </p>
        <p class="copyright">
            Copyright 2022:Todos los derechos reservados
        </p>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>

</html>