<!DOCTYPE html>
<html lang="es">
<!--Contenido de la página en Español. Es el lenguaje Puede ser "en"-->

<head>
    <!--cabeza-->
    <meta charset="UTF-8">
    <!--Para los caracteres en español-->
    <meta http-equiv="X-UA-Compatible content=" IE=edge>
    <!--Compatibilidad del nav.donde se consulta la pag. y content es IE Internet Explore = 
    al navegador estandar a utilizar-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Viewport nos permite indicar cómo se verá un proyecto web en los dispositivos móviles-->
    <!--width=device-width establece el ancho de la ventana gráfica al ancho del dispositivo. 
    initial-scale=1 establece el nivel de zoom inicial cuando el usuario  visita la página.-->
    <title>Suc.de Marcelo Alessi-Quienes Somos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/estilos.css">
</head>

<body>
    <header id="arriba" class="grid2 gradientes">
        <!-- <picture class="img_logo">
            <img src="../assets/Logo.jpg" class="img_logo" alt="Logo MA">
        </picture>-->
        <nav class="navbar navbar-expand-lg navbar-expand-md">
            <div class="container">
                <a class="navbar-brand img_logo">
                    <img src="../assets/Logo.jpg" alt="Logo MA" width="40" height="30">
                </a>
            </div>
            <div class="container-fluid button_nav">
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav menu">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline me-2" href="./quienes somos.html">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline me-2 " href="./maquinariasyrepuestos.html">Maquinarias y
                                Repuestos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline me-2 " href="./cotizaciones.html">Cotizaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline me-2 " href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--    <nav>
            <ul class="menu">
                <li>
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li>
                    <a href="./quienes somos.html" class="menu__link">Quienes Somos</a>
                </li>
                <li>
                    <a href="./maquinariasyrepuestos.html" class="menu__link">Maquinarias y Repuestos</a>
                </li>
                <li>
                    <a href="./cotizaciones.html" class="menu__link">Cotizaciones</a>
                </li>
                <li>
                    <a href="./contacto.html" class="menu__link1">Contacto</a>
                </li>
            </ul>
        </nav>-->
        <p class="ir_abajo">
            <a href="#abajo" class="ir_header"> Ir abajo </a>
        </p>
    </header>
    <main>
        <h1 class="tituloh1">Quienes Somos</h1>

        <section class="section_quienessomos">
            <article class="article_quienessomos">
                <img class="img_quienessomos">

                <p class="p_quienessomos"><em>Sucesores de Marcelo Alessi es una pequeña empresa familiar creada en la
                    ciudad de Tandil en Enero
                    de 1995 por  Marcelo Alessi, empresario que comenzò con la venta de màquinas y herramientas agricolas
                    tomando la concesion de marcas muy reconocidas dentro del àmbito
                    Agropecuario.
                    En Septiembre de 2016, tras el fallecimiento de Marcelo, la empresa familiar fue redirigida por
                    Roberto Garcia, cuñado de Marcelo, que junto con Fabiana Ariztizabal, esposa de Marcelo, pudieron
                    lograr que la firma continuara con la misma linea y calidad de siempre utilizando nuevas e
                    importantes marcas como Tanzi, Juber y Superwalter que lograron fidelizar a grandes productores
                    agropecuarios.</em> 

                </p>
            </article>
            <aside>
                <h2 class="asideqs_h2">Conocé más sobre nosotros</h2>
             <!--  <input class="boton bot_quie" type="submit" value="Contáctenos">--> 
                <input class="btn btn-outline-dark boton2 bot_quie" type="submit" value="Contàctenos">
            </aside>
        </section>
    </main>
    <footer id="abajo" class="grid gradientes1">

        <picture class="logo_footer">
            <img class="logo_footer" src="../assets/Logo.jpg" alt="Logo MA">
        </picture>

        <ul class="menu2">
            <li>
                <a href="../index.html" class="menu__link2">Home</a>
            </li>
            <li>
                <a href="./quienes somos.html" class="menu__link2">Quienes Somos</a>
            </li>
            <li>
                <a href="./maquinariasyrepuestos.html" class="menu__link2">Maquinarias y Repuestos</a>
            </li>
            <li>
                <a href="./cotizaciones.html" class="menu__link2">Cotizaciones</a>
            </li>
            <li>
                <a href="./contacto.html" class="menu__link2">Contacto</a>
            </li>
        </ul>
        <p class="ir_footer">
            <a href="#arriba" class="ir_footer"> Ir arriba </a>
        </p>
        <div class="copyright">
            Copyright 2022: Todos los derechos reservados
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>

</html>