<!DOCTYPE html>
<html lang="es">
<!--Contenido de la página en Español. Es el lenguaje Puede ser "en"-->

<head>
    <!--cabeza-->
    <meta charset="UTF-8">
    <!--Para los caracteres en español-->
    <meta http-equiv="X-UA-Compatible content=" IE=edge>
    <!--Compatibilidad del nav.donde se consulta la pag. y content es IE Internet Explore = 
    al navegador estandar a utilizar-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Viewport nos permite indicar cómo se verá un proyecto web en los dispositivos móviles-->
    <!--width=device-width establece el ancho de la ventana gráfica al ancho del dispositivo. 
    initial-scale=1 establece el nivel de zoom inicial cuando el usuario  visita la página.-->
    <title>Suc.de Marcelo Alessi-Quienes Somos</title>
    <link rel="shortcut icon" href="../assets/Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/grid.css">
</head>

<body>
    <header id="arriba" class="grid2 gradientes">
        <picture class="img_logo">
            <img src="../assets/Logo.jpg" class="img_logo" alt="Logo MA">
        </picture>
        <nav>
            <ul class="menu">
                <li>
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li>
                    <a href="./quienes somos.html" class="menu__link">Quienes Somos</a>
                </li>
                <li>
                    <a href="./maquinariasyrepuestos.html" class="menu__link">Maquinarias y Repuestos</a>
                </li>
                <li>
                    <a href="./cotizaciones.html" class="menu__link">Cotizaciones</a>
                </li>
                <li>
                    <a href="./contacto.html" class="menu__link1">Contacto</a>
                </li>
            </ul>
        </nav>
        <p class="ir_abajo">
            <a href="#abajo" class="ir_header"> Ir abajo </a>
        </p>
    </header>
    <main>
        <h1 class="tituloh1">Quienes Somos</h1>

        <section class="section_quienessomos">
            <article class="article_quienessomos">
                <img  class="img_quienessomos" >

                <p class="p_quienessomos"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dicta velit
                    sed, quasi ad consequatur cum illum odio necessitatibus facere atque dolores fuga consequuntur
                    fugit veniam. Sapiente dolore corporis rerum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore at
                    quae sit, velit, facere dolore fugit debitis similique officiis quo, enim non officia quasi
                    obcaecati repellat odio sequi nam minima.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nostrum modi optio laborum porro
                    nihil id. Et a ex obcaecati? Aliquid alias eaque enim ex dolorum in quos optio distinctio!
                </p>
            </article>
            <aside>
                <h2 class="asideqs_h2">Conocé más sobre nosotros</h2>
                <input class="boton" type="submit" value="Contáctenos">

            </aside>
        </section>
    </main>
    <footer id="abajo" class="grid">

        <picture class="logo_footer">
            <img class="logo_footer" src="../assets/Logo.jpg" alt="Logo MA">
        </picture>

        <ul class="menu2">
            <li>
                <a href="../index.html" class="menu__link2">Home</a>
            </li>
            <li>
                <a href="./quienes somos.html" class="menu__link2">Quienes Somos</a>
            </li>
            <li>
                <a href="./maquinariasyrepuestos.html" class="menu__link2">Maquinarias y Repuestos</a>
            </li>
            <li>
                <a href="./cotizaciones.html" class="menu__link2">Cotizaciones</a>
            </li>
            <li>
                <a href="./contacto.html" class="menu__link2">Contacto</a>
            </li>
        </ul>
        <p class="ir_footer">
            <a href="#arriba" class="ir_footer"> Ir arriba </a>
        </p>
        <div class="copyright">
            Copyright 2022: Todos los derechos reservados
        </div>

    </footer>

</body>

</html>

</html>