/*CONTACTO*/

.h2_contacto1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

//EXTEND//
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formulario_con {
    @extend .formulario;
    background-image: linear-gradient(#141010, #a15050);

}

.table {

    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-right: 30px;

    &_nombre {
        font-size: 1.5rem;
        border: solid 1px;
        text-align: center;
    }

    &_nombre1 {
        font-size: 1.5rem;
        border: solid 1px;

    }
}

.h2_contacto {
    margin-top: 3%;
    font-size: 2rem;
}

.f_cont {
    margin: 20px;
}