/*CONTACTO*/

.h2_contacto1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.table{
    display: flex;
    justify-content: center;

}
.borde1{
    border: solid 1px black;

}

.justificado{
    display: flex;
}

//EXTEND//
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formulario_con {
    @extend .formulario;
    background-image: linear-gradient(#141010, #a15050);

}

.h2_contacto {
    margin-top: 3%;
    font-size: 2rem;
}

.f_cont {
    margin: 20px;
}