/*FOOTER*/

.gradientes1 {
    background-image: linear-gradient($colorprincipal, $colorsecundario, $colorprincipal);

}

footer {
    color: #f7e7e7;
    margin-top: 50px;
    list-style: none;
    text-decoration: none;


}

.logo {
    &_footer {
        width: 90px;
        height: 60px;
        display: flex;
        background-color: none;
        grid-area: logo;
    }
}

.menu {
    &2 {
        list-style: none;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
    }


    &__link2 {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1rem;
        grid-area: menu;
        background-color: none;

    }
}


.ir_footer {
    color: $arriba_abajo;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    grid-area: arriba;

}

.copyright {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    grid-area: copyright;
}


.grid {
    display: grid;
    grid-template-areas:
        "logo menu arriba "
        "logo menu arriba"
        "copyright copyright arriba";
    grid-template-rows: 200px;
    grid-template-columns: 120px;

}