/*HEADER*/

header {
    display: flex;
    border-bottom: 2px solid beige;

    & nav {
        background-color: none;
        display: flex;


    }
}

.a {
    & img_logo {
        width: 90px;
        height: 90px;
        background-color: transparent;
        display: flex;
        margin-left: 30px;
        margin-top: 10px;
        grid-area: logonav;
    }
}

.gradientes {
    background-image: linear-gradient($colorprincipal, $colorsecundario, $colorprincipal);
}

.ir_abajo {
    margin-top: 0px;
    margin-bottom: 10px;
}

.ir_header {
    color: $arriba_abajo;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman';
    background-color: none;
    margin-top: 100px;
    margin-right: 10px;
    width: 13vw;
    display: flex;
    justify-content: right;
    grid-area: abajo;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    width: 60vw;
    margin-top: 10px;
    margin-left: 70px;
    flex-wrap: wrap;
    grid-area: menu1;

    & __link {
        text-decoration: none;
        color: #fdf2f2;
        text-transform: uppercase;

    }
}