/*HEADER*/

header {
    display: flex;
    justify-content: space-around;


    & nav {
        background-color: none;
        display: flex;
        justify-content: space-around;
    }     
}

.navbar.navbar-expand-lg.bg-light {
    background-image: linear-gradient($colorprincipal, $colorsecundario, $colorprincipal);
    color: black;
}

.bg-light {
    --bs-bg-opacity: 0;
}

.navbar {
    --bs-navbar-color: black;
    --bs-navbar-disabled-color: black;

    & container-fluid {
        display: flex;
        justify-content: center;
    }

}

.navbar-nav {
    --bs-nav-link-padding-y: 0, 1;
}

.navbar-collapse .navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    justify-content: center // flex-basis: none;
}

.gradientes {
    background-image: linear-gradient($colorprincipal, $colorsecundario, $colorprincipal);
}


.ir_abajo {
    display: flex;
    justify-content: flex-end;
}

.ir_header {
    color: $arriba_abajo;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman';
    background-color: none;
    margin-right: 10px;
    display: flex;
    justify-content: right;
}