.img-size {
    width: 200px;
    height: 150px;
    border: 10px solid rgb(240, 238, 238);

}

;

.card {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 400px;
    background-color: rgb(185, 73, 73);

}

;

.flex-card {

    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
