// MIXID //

//MAP//
$img-card: (
    eje: url("../../assets/ejeconbasedistribuidor.jpg"),
    horquilla: url("../../assets/horquilla.jpg"),
    bastidor: url("../../assets/batidor.jpg"),
);


@mixin titulos ($font-size, $color) {
    font-size: $font-size;
    color: $color;

}

;

@each $name,
$url in $img-card {
    .img-#{$name} {
        @extend .img-size;
        background-image: #{$url};
        background-size: cover;
        background-position: center;
      

        @if($name == horquilla) {
            height: 170px;
            border: 5px solid rgb(88, 85, 85);
        }
    }
}

;