// MIXID //

//MAP//
$img-card: (
    eje: url("../../assets/ejeconbasedistribuidor.jpg"),
    horquilla: url("../../assets/horquilla.jpg"),
    bastidor: url("../../assets/batidor.jpg"),
);

.img-size {
    width: 200px;
    height: 150px;
    border: 10px solid rgb(240, 238, 238);

}

;

.card {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 400px;
    background-color: rgb(185, 73, 73);

}

;

.flex-card {

    display: flex;
    gap: 70px;
    justify-content: center;
}

;

@mixin titulos ($font-size, $color) {
    font-size: $font-size;
    color: $color;

}

;

@each $name,
$url in $img-card {
    .img-#{$name} {
        @extend .img-size;
        background-image: #{$url};
        background-size: cover;
        background-position: center;
      

        @if($name ==horquilla) {
            height: 170px;
            border: 5px solid rgb(88, 85, 85);
        }
    }
}

;